# 排除 build 目录
/build/

# 排除 dist 目录
/dist/

# 排除 output 目录
/output/

# 排除 temp 目录
/temp/

# 排除 venv 目录
/venv/

/.idea/
app.spec
config.json
output_card.png
/icons/
/test_dir/
/arkham-app/.vscode/
/global_config.json
/官方卡重置/
/remaek_card/官方卡重置/

# 排除 近期打开的目录的 json 文件
/recent_directories.json
# 排除 python 编译缓存
*/__pycache__
/logs/
/.workflow/
/.serena/
/.claude/
/remaek_card/translation_data.json
/remaek_card/db_cards_en.json
/remaek_card/translation_data_pl.json
/.codex/
/.cache/
/.gemini/
